body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #eef7ff; */
}

/* nav {
  background-color: #03254b;
} */

/* .card {
  background-color: #aaccdf;
} */

.btn-custom {
  background-color: #03254b;
  color: white;
}
